<p id="notice"><%= notice %></p>

<p>
  <strong>Fund:</strong>
  <%= @private_fund_snapshot.fund_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @private_fund_snapshot.user_id %>
</p>

<p>
  <strong>Nav updated at:</strong>
  <%= @private_fund_snapshot.nav_updated_at %>
</p>

<p>
  <strong>Fund code:</strong>
  <%= @private_fund_snapshot.fund_code %>
</p>

<p>
  <strong>Company code:</strong>
  <%= @private_fund_snapshot.company_code %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @private_fund_snapshot.company_name %>
</p>

<p>
  <strong>Fund name:</strong>
  <%= @private_fund_snapshot.fund_name %>
</p>

<p>
  <strong>Net asset value:</strong>
  <%= @private_fund_snapshot.net_asset_value %>
</p>

<p>
  <strong>Price change:</strong>
  <%= @private_fund_snapshot.price_change %>
</p>

<p>
  <strong>Surrender price:</strong>
  <%= @private_fund_snapshot.surrender_price %>
</p>

<p>
  <strong>Total net asset:</strong>
  <%= @private_fund_snapshot.total_net_asset %>
</p>

<p>
  <strong>Dividend:</strong>
  <%= @private_fund_snapshot.dividend %>
</p>

<p>
  <strong>Standing:</strong>
  <%= @private_fund_snapshot.standing %>
</p>

<p>
  <strong>Registered at:</strong>
  <%= @private_fund_snapshot.registered_at %>
</p>

<p>
  <strong>Spare column:</strong>
  <%= @private_fund_snapshot.spare_column %>
</p>

<p>
  <strong>Holiday:</strong>
  <%= @private_fund_snapshot.holiday %>
</p>

<p>
  <strong>Administration flag:</strong>
  <%= @private_fund_snapshot.administration_flag %>
</p>

<p>
  <strong>Accounting:</strong>
  <%= @private_fund_snapshot.accounting %>
</p>

<p>
  <strong>Fund Profile Id:</strong>
  <%= @private_fund_snapshot.fund_profile_id %>
</p>

<p>
  <strong>Public Flag:</strong>
  <%= @private_fund_snapshot.public_flag %>
</p>

<p>
  <strong>Latest:</strong>
  <%= @private_fund_snapshot.is_latest %>
</p>

<%= link_to 'Edit', edit_private_fund_snapshot_path(@private_fund_snapshot) %> |
<%= link_to 'Back', private_fund_snapshots_path %>
